@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
h1 {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	text-align: center;
	color: #313131;
	margin: 0px 0px 20px 0px;
}
.wrapper {
	display: block;
	margin: 0px auto;
	max-width: 1025px;
	margin-top: 140px;
}
.text {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #5F5F5F;
	display: block;
	max-width: 750px;
	margin: 0px auto;
	margin-bottom: 224px;
}
h2 {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 44px;
	color: #313131;
	margin-bottom: 20px;
	opacity: 0.88;
}
.second {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #5F5F5F;
	max-width: 508px;
	margin-bottom: 125px;
}
h3 {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #313131;
	margin-bottom: 5px;
	opacity: 0.88;
}
.title {
	font-family: 'CircularStd';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #B8B8B8;
	margin-bottom: 100px;
}